body {
  background: radial-gradient(circle at 10% 20%, rgb(4, 159, 108) 0%, rgb(194, 254, 113) 90.1%);
}

button {
  width: 50px;
  height: 30px;
}

.btn, .btn-outline-dark {
  padding-top: 4px;
}


.city {
  padding-top: 10px;
}
.date {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  padding-top: 10px;
}
p {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  font-family: "Nunito", sans-serif;
}
.temperature-today {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  padding-top: 50px;
}

.temperature-today .active {
  color: #5F6368;
  cursor: default;
  text-decoration: none;
}

.temperature-today .fahrenheit {
  text-decoration: none;
}

.temperature-today .active:hover {
  text-decoration: none;
}
img {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 170px;
  padding: 0;
}
.other-today {
  display: block;
  margin: 0 auto;
  padding-top: 45px;
  text-align: center;
  font-size: 25px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}
.maybe {
  padding-top: 25px;
  font-size: 25px;
  font-weight: 600;
}
.today {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  padding-top: 5px;
  text-align: center;
  font-size: 30px;
}

.source {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  font-family: "Nunito", sans-serif;
  font-style: italic;
}

.container {
  max-width: 600px;
  margin: 15px auto;
  padding: 20px;
  border: 1px solid #d9dbe3;
  border-radius: 15px;
  color:#5F6368;
  background: radial-gradient(circle at 10% 20%, rgb(128, 248, 174) 0%, rgb(223, 244, 148) 90%);;
}

.row {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.forecast {
  margin-top: 15px;
  text-align: center;
}

.forecast-date {
  font-size: 16px;
  color: #5F6368;
}

.forecast-temperature {
  font-size: 13px;
  color: #5F6368;
}


.forecast-temp-min {
  opacity: 0.7;

}

#icons {
  width: 80px;
}

