button {
  width: 50px;
  height: 30px;
}
.city {
  padding-top: 10px;
}
.date {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  padding-top: 10px;
}
p {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  font-family: "Nunito", sans-serif;
}
.temperature-today {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  padding-top: 50px;
}
img {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 150px;
  padding: 0;
}
.other-today {
  display: block;
  margin: 0 auto;
  padding-top: 45px;
  text-align: center;
  font-size: 25px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}
.maybe {
  padding-top: 25px;
  font-size: 25px;
  font-weight: 600;
}
.today {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  padding-top: 5px;
  text-align: center;
  font-size: 30px;
}

.source {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  font-style: italic;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #d9dbe3;
  border-radius: 15px;
  color:#5F6368;
}

.row {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
